[Unit]
Description=survivor-pool web app
After=network.target postgresql.service

[Service]
User=bweller
WorkingDirectory=/srv/apps/survivor-pool
ExecStart=/usr/bin/npm run start
Restart=on-failure
EnvironmentFile=/srv/apps/survivor-pool/.env

# sandboxing
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/srv/apps/survivor-pool
PrivateTmp=true

[Install]
WantedBy=multi-user.target
